[Unit]
Description=Infra AutoHEAL Timer
Requires=infra-autoheal.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
